#playScreen {
	margin-top: 30px;
	;

}

.indiBranch {
	stroke: rgba(139,69,19,0);
	stroke-width: 10; 
	stroke-linecap: round;

}

.indiBranch:hover{
	stroke: rgba(139,69,19,1);
	stroke-width: 10; 
	stroke-linecap: round;
}