.mainscreen .pigLet {
	margin-top: 60px;
	height: 500px;
	margin-right: -60px; 
}

.mainscreen {
	padding-top: 50px;
	background-color: #FFC0CB;
	height: 900px;
}

.settings > li {
	margin-top: 20px;
	font-size: 25px;
	font-weight: bold;
}

.settings li:first-child{
	font-size: 35px;
}

.settings img{
	height: 60px;
	width: 90px;
}


#playScreen {
	margin-top: 15px;
	;

}

.indiBranch {
	stroke: rgba(139,69,19,0);
	stroke-width: 10; 
	stroke-linecap: round;

}

.indiBranch:hover{
	stroke: rgba(139,69,19,1);
	stroke-width: 10; 
	stroke-linecap: round;
}

.pigCover{
	fill: rgba(34,139,34,1);
}

.pigCover:hover{
	fill: rgba(34,139,34,0);
}

.monsterCover{
	fill: rgba(100,149,237,1);
}

.monsterCover:hover{
	fill: rgba(100,149,237,0);
}

.piggyButton text, .readyButton text{
	font-size: 15px;
	font-style: bold;
	fill: #F8F8FF;
}

.branchButton text{
	font-size: 15px;
	font-style: bold;
	fill: #F8F8FF;
}

.monsterButton text, .readyMonsterButton text{
	font-size: 15px;
	font-style: bold;
	fill: #F8F8FF;
}