#playScreen {
	margin-top: 30px;
	;

}

.indiBranch {
	stroke: rgba(139,69,19,0);
	stroke-width: 10; 
	stroke-linecap: round;

}

.indiBranch:hover{
	stroke: rgba(139,69,19,1);
	stroke-width: 10; 
	stroke-linecap: round;
}

.pigCover{
	fill: rgba(34,139,34,1);
}

.pigCover:hover{
	fill: rgba(34,139,34,0);
}

.monsterCover{
	fill: rgba(100,149,237,1);
}

.monsterCover:hover{
	fill: rgba(100,149,237,0);
}

.piggyButton text{
	font-size: 15px;
	font-style: bold;
	fill: #F8F8FF;
}

.branchButton text{
	font-size: 15px;
	font-style: bold;
	fill: #F8F8FF;
}

.monsterButton text{
	font-size: 15px;
	font-style: bold;
	fill: #F8F8FF;
}